<div class="home-container">
    <div class="welcome">
        <h1>Cześć</h1>
        <h3>To prototyp kreatora śpiewników oazowych</h3>
    </div>
    <div class="description">
        <div class="section">
            <h3>Po co to? Na co to komu?</h3>
            <p>Już spieszę z wyjaśnieniem! 😀 Pomysł zrodził się z obserwacji brata, który jako muzyczny, był odpowiedzialny za przygotowanie śpiewnika na rekolekcje
                wakacyjne. To zadanie zajęło mu bardzo dużo czasu, bo około 2 tygodnie. Myślę, że nie tylko jemu zajmuje to aż tak długo. Problematyczne nie jest tylko
            <b>wybranie pieśni</b>, <b>znalezienie ich opracowań</b> (chwyty gitarowe), ale chyba przede wszystkim <b>formatowanie dokumentu</b> w Wordzie i tworzenie spójnego spisu treści.
            Z tego powodu powstało to narzędzie. </p>
        </div>
        <div class="section">
            <h3>Co można testować? 🤓</h3>
            <p>W tym prototypie pracujesz jako już zalogowany użytkownik.</p>
            <ul>
                <li>Możesz dodawać nowe pieśni i modyfikować tekst istniejących.</li>
                <li>Możesz przeglądać istniejące pieśni</li>
                <li>Możesz otworzyć i modyfikować istniejący śpiewnik</li>
                <li>Możesz wygenerować i pobrać śpiewnik</li>
            </ul>
        </div>
        <div class="section">
            <h3>Plany na przyszłość</h3>
            <p>Otwarta beta 🤗</p>
            <p>Wersja mobilna 📱</p>
        </div>
        <p class="author"><i>Piotr Wereszczyński z <a href="https://www.facebook.com/OazaKoszalin/">Diakonii Komunikowania Społecznego Diecezji Koszalińsko-Kołobrzeskiej</a></i></p>
    </div>
</div>