@import 'variables.scss';

.form-menu-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-repeat: no-repeat;
    // background-position: right top;
    // background-size: min(55vw, 55vh);
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='495' height='495' viewBox='0 0 495 495' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='495' r='495' fill='%230099FF' fill-opacity='0.1'/%3E%3C/svg%3E");

    .mat-toolbar {
        background-color: transparent;

        .link {
            text-decoration: none;
            color: black;
        }
    }

    .form-card {
        max-width: 18rem;
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
        border: 1px solid $my-primary;
        padding: 2rem 1.5rem 2rem 1.5rem;
        border-radius: 4px;
    }
}