<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <songs-collection-sidenav></songs-collection-sidenav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
      Pokaż piosenki do wybrania
    </button>

    <h2>Twój śpiewnik</h2>

    <div
      id="songbook"
      cdkDropList
      #songbook="cdkDropList"
      [cdkDropListData]="selectedSongs"
      [cdkDropListConnectedTo]="['allsongsList']"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of selectedSongs; let i = index" cdkDrag>
        <span class="title">{{ i+1 }}. {{item}}</span>
        <mat-icon fontIcon="delete" class="delete" (click)="deleteFromSongbook(item)"></mat-icon>
      </div>
    </div>

  </div>
</mat-drawer-container>